.footer-container {
    background-color: black;
}

.footer-container-categories {
    display: flex;
    gap: 30px;
    padding: 25px 100px;
    color: white;
}

.footer-container-categories a {
    color: white;
}

.footer-container-categories ul {
    padding: 0 20px;
}
