body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.contact-container {
  background-color: whitesmoke;
  display: flex;
  flex-wrap: wrap;
  color: rgb(14, 121, 178);
  font-size: 1rem;
  padding: 200px;
  flex: 1 1 300px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 100%;
}

.contact-container h1 {
  width: 100%;
  text-align: center;
  font-size: 2rem;
  margin-bottom: 20px;
}

.contact-container p {
  width: 100%;
  text-align: center;
  font-size: 1.2rem;
  margin-bottom: 20px;
}